/* this just kinda customize && fixes the navbar at the top */
.navbar {
    padding : 5px 20px;
    border-radius: 20px;
    max-width: 950px;
    margin: 20px auto;
}

/*this customizes and Make navbar beautiful */
.navbar ul {
  list-style: none;
  display: flex;
  background-color: rgb(53, 60, 65);
  justify-content:space-evenly;
  align-items: center;
  padding: 10px ;
  margin : auto;
  height: auto;
  border-radius: 12px;
}

.navbar ul li a {
  text-decoration:none;
  color: rgb(233, 241, 247);

  border-radius: 12px;
  transition: all 0.9s ease ;
}
.navbar.dark ul li a {
    color: #8fa2d3;
}

.navbar ul li a:hover {
    background-color: #afbbd9;
    transform: scale(1.125);

}


body {
    transition: 1s;
    padding: 12px;
    margin : 100px 5px;     
    background-color: #e9ebee;
    
    color: rgb(44, 52, 58);
    
    
}

.allat {
    padding: 12px;
    margin : 100px 5px;  
    border-style: solid;
    border-radius: 5px;
    border-width: auto;
}

body.dark {
    background-color: rgb(54, 65, 83);
    transition: 1s;
    color: #8fa2d3;

}

button {
    border: solid;
    border-radius: 5px;
    background-color: rgb(54, 65, 83);
    color: #8fa2d3;
}

body.dark button {
    border: solid;
    border-radius: 5px;
    background-color: #78879c;
    color: rgb(44, 52, 58);
    transition: 1s;
}